#root {
  display: flex;
  justify-content: center;
}

.caption {
  text-align: center;
  margin-bottom: 30px;
  color: rgb(43, 46, 46);
}

.game-wrapper {
  width: 250px;
  height: 250px;
  border: 2.5px solid rgb(97, 102, 103);
  background: rgb(197, 208, 211);
}

.cell {
  width: 83.3px;
  height: 83.3px;
  border: 1px solid white;
  float: left;
  box-sizing: border-box;
  font-size: 55px;
  font-weight: bold;
  text-align: center;
  color: rgb(121, 124, 124);
  cursor: pointer;
}